body {
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: $color-grey-dark;
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 6rem;

    /* backface-visibility determines whether the back part of the element is
       visible to the user while it's being transformed */
    backface-visibility: hidden;    /* stops shaking while animation is going on */

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;

        /* animate */
        animation-name: moveinleft;
        animation-duration: 1s;
        animation-timing-function: ease-out;  /* how the animation progresses over time */

        /*
        animation-delay: 3s;
        animation-iteration-count: 3;  repeat animation X times
        */
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.7rem;

        /* animate */
        animation: moveinright 1s ease-out;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;

    // clip background to remove everything but behind the text
    // make the text transparent to show the gradient colours
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;

    letter-spacing: 2px;
    transition: all .2s;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}
